/* здесь используйте глобальные переменные */
$main-font: "Lato", "Arial", sans-serif;
$second-font: "Oswald", "Arial", sans-serif;
$main-text: #444444;
$text-black: #000000;
$text-white: #ffffff;
$primary-bg-color: #ffffff;
$secondary-bg-color: #f2f2f2;
$basic-bg-green: rgba(104, 183, 56, 1);

