/* здесь используйте глобальные переменные */
$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;
$primary-color-text: #444444;
$secondary-color-text-black: #000000;
$secondary-color-text-white: #ffffff;
$primary-bg-color: #ffffff;
$secondary-bg-color: #f2f2f2;
$basic-bg-green: rgba(104, 183, 56, 1);
