.card {

}

.card__link {

}

.card__link--image {

}

.card__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $secondary-color-text-black;
}

.card__item {
  font-family: $primary-font;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: $primary-color-text;
}

