.card {

}

.card__link {

}

.card__link--image {

}

.card__title {
  font-family: $second-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $text-black;
}

.card__item {
  font-family: $main-font;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: $main-text;
}

