.card-row {

}

.card-row__title {
  font-family: $second-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #222222;
  text-align: center;

}
.card-row__description {
  text-align: center;
  line-height: 20px;
  color: $main-text


}

.card-row__price {
  text-align: center;
  line-height: 20px;
  color: $main-text

}
