.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 0 25px;


}

.card__list {
  @include flex (column,flex-start);
  margin-bottom: 7px;
  list-style: none;
}

.card__link {



}

.card__link--title {




}

.card__link--image {

}

.card__title {
  padding: 0 50px 15px 0;
  font-family: $second-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $text-black;
  text-transform: uppercase;
}

.card__item {
  font-family: $main-font;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: $main-text;
}

