.example {
  padding-left: 20px;
  background-color: #eaeaea;

}

.example__title {
  margin-bottom: 40px;
  font-family: $second-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $text-black;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
    font-size: 60px;
    line-height: 60px;
  }
}

.example__description {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }

}

.example__list {
  @include flex();
  column-gap: 32px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    @include flex();
    width: 367px;
    margin-bottom: 50px;
    column-gap: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }

}

.example__item {
  @include flex(column, space-between, center);
  min-width: 124px;

  @media (min-width: $tablet-width) {
    @include flex(column, space-between, center);
    width: 162px;
  }

}

.example__value {
  font-family: $second-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $text-black;
  text-transform: uppercase;
}

.example__value-desc {
  color: $main-text;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  background-color: #eaeaea;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0 5px;
    font-size: 14px;
    line-height: 14px;
    background-color: $main-bg-color;

  }

  @media (min-width: $desktop-width) {
    background-color: #eaeaea;
    font-size: 14px;
    line-height: 14px;
  }
}

.example__spending {
  font-family: $second-font;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $text-black;
  text-transform: uppercase;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 20px;
    line-height: 20px;
    align-self: flex-end;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
    align-self: flex-start;
  }


}

.example__image--before {


}

.example__image--after {


}
