.example {
  background-color: $secondary-bg-color;

}

.example__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $secondary-color-text-black;
}

.example__description {

}

.example__list {

}

.example__item {

}

.example__value {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $secondary-color-text-black;
}

.example__value-desc {
  color: $primary-color-text;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
}

.example__spending {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $secondary-color-text-black;
  text-align: center;
  text-transform: uppercase;


}

.example__image--before {


}

.example__image--after {


}
