.example {
  @include flex;
  padding: 25px 20px 40px;
  background-color: #eaeaea;

}

.example__title {
  margin-bottom: 40px;
  font-family: $second-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $text-black;
  align-self: flex-start;


}

.example__description {
  margin-bottom: 20px;



}

.example__list {
  @include flex();
  column-gap: 32px;
  margin-bottom: 34px;


}

.example__item {
  @include flex(column);
  min-width: 124px;
  padding-top: 13px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;


}

.example__value {
  font-family: $second-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $text-black;
  text-transform: uppercase;
  padding-bottom: 16px;
}

.example__value-desc {
  color: $main-text;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  background-color: #eaeaea;
  text-align: center;
  padding: 0 15px;
  position: absolute;


}

.example__spending {
  font-family: $second-font;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $text-black;
  text-transform: uppercase;
  margin-bottom: 20px;



}

.example__image--before {


}

.example__image--after {


}

.example__button {

}
