.header-nav {
  font-family: $second-font;
  width: 100%;

  @media (min-width: $tablet-width) {
    @include flex (column,flex-end,center);
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }


}


.header-nav__toggle {

}

.site-list__item {
  list-style: none;
}


