.hero {
  font-family: $secondary-font;
  color: $secondary-color-text-white;
  background-color: $basic-bg-green;


}

.hero__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.hero__description {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}

.hero__img {

}

.hero__button {

}

