.program {

}

.program__item {
  background-color: $second-bg-color;

}

.program__item--pro {


}

.program__item--slim {



}

.program__title {
  font-family: $second-font;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: $text-black;



}

.program__description {
  color: $main-text;


}

.program__link {
  font-family: $second-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: $text-black;

}
