.site-list {
  display: none;

  @media (min-width: $tablet-width) {
    @include flex();



  }


}

.site-list__item {
  border-top: 1px solid #e6e6e6;
  text-align: center;


}

.site-list__item--current {


}

.site-list__link {

}
