.special {

}

.special__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $secondary-color-text-black;
}

.special__list {



}

.special__item {
  color: $primary-color-text;

}

.special__item--leaf {

}

.special__item--powder {

}

.special__item--eat {


}


.special__item--time {


}

