.subscribe {

}

.subscribe__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $secondary-color-text-black;
  text-align: center;


}

.subscribe__description {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $secondary-color-text-black;
  text-align: center;

}
